<div class="container">
  <button class="btn btn-info" (click)="display()">{{btnMessage}}</button>
  
  <p  [appShowHideDirective]="displayPara">Paragraph</p>
  <div class="form-group">
    <label>Add Data</label>
  <input type="text" [(ngModel)]="data" >
  </div>
  <div class="form-group">
    <button class="btn btn-success" (click)="add()">ADD</button>
  </div>
  <div [appShowHideDirective]="displayPara" *ngFor="let item of dataArray; let i = index" >
    
    <span [ngStyle]="(i <4)? {'color':orange} : {'background-color': red}">{{item}}</span>
  </div>
</div>
