<div class="product">
  <img src='../../assets/images/headPhone.jpg' alt='image'>
  <span class="textCenter">HeadPhone</span>
</div>
<div class="product">
<img src='../../assets/images/speaker.jpg' alt='image'>
<span class="textCenter">HeadPhone</span>
</div>
<div class="product">
  <img src='../../assets/images/headPhone.jpg' alt='image'>
  <span class="textCenter">HeadPhone</span>
</div>
<div class="product">
<img src='../../assets/images/speaker.jpg' alt='image'>
<span class="textCenter">HeadPhone</span>
</div>
<div class="product">
  <img src='../../assets/images/headPhone.jpg' alt='image'>
  <span class="textCenter">HeadPhone</span>
</div>
<div class="product">
<img src='../../assets/images/speaker.jpg' alt='image'>
<span class="textCenter">HeadPhone</span>
</div>
<div>
  <button class="btn btn-success" (click)="edit()">Edit</button>
</div>
