<form class="container" [formGroup]="employeeForm" (ngSubmit)="save()">
<div class="form-group row">
<label class ="col-sm-2 col-form-label">Name</label> 
<div class="col-sm-6">
  <input type ="text" class="form-control" formControlName="name">
</div>
</div>
<div class="form-group row" formGroupName="address">
   <label class="col-sm-2 col-form-label">City</label>
   <input class="col-sm-2" type ="text" formControlName="city">
  

   <label class="col-sm-1 col-form-label">Street</label>
   <input class="col-sm-2" type="text" formControlName="street">

</div>
<div formArrayName="educationDetails">
 
  <div *ngFor="let education of educationDetails.controls; let i=index" [formGroupName]="i">
    <!-- The repeated alias template -->
    <div>
    <label>
      Degree:
      <input type="text" formControlName="per">
    </label>
    <label>
        Percentage:
        <input type="text" formControlName="degree">
      </label>
     
      </div>
  </div>
  <button (click)="addAddress()">Add Education Detaills</button>
</div>
<div class="form-group row">
  <div class="col-md-4">
  <button type="submit" class="btn btn-info m-1" [disabled]="employeeForm.invalid">Submit</button>
  </div>
</div>
</form>