<button type="btn btn-success" (click)="back()">Back</button> 
<nav class="navbar navbar-expand-sm bg-warning">
    <ul class="nav navbar-nav">
      <li class="navbar-item"><a class="nav-link" [routerLink]="'home'" [routerLinkActive] ="'active'" >Home</a></li>
      <li class="navbar-item"><a class="nav-link" [routerLink] = "'admin'" [routerLinkActive] ="'active'">Product</a></li>
      <li class="navbar-item"><a class="nav-link" [routerLink]="'login'" [routerLinkActive] = "'active'">Log In</a></li>
    </ul>  
</nav>