<form [formGroup] = "profileForm" (ngSubmit)="onSubmit()">
  <div class="form-group row">
<label class="col-sm-2">
  FIrst Name
  <input type ="text" [formControlName] =  "firstName">
</label>
</div>
<div class="form-group row">
<label class="col-sm-2">
  Last Name
  <div class="col-sm-6">
  <input type ="text" [formControlName] = "lastName">
  </div>
  <div class="col-sm-4">
    <div></div>
  </div>
</label>
</div>for
<button class="btn btn-success" type ="submit" [disabled] = "profileForm.valid" >Submit</button>
</form>
