<div class ="container">
   <div class="card">
     <div class="card-header">
          {{title}}
          <span class="fa fa-calculator"></span>
     </div>
     <div class="card-body">
        <input type = "number" class="m-1" placeholder="Enter first input" #input1>
        <input type = "text" class="m-1" placeholder="Enter second input" #input2>
     </div>
     <div class="card-footer">
       <button type="button" class="btn btn-info m-1" (click)="add()">
        <span class="fa fa-plus"></span>Add
       </button>
       <button type="button" class="btn btn-info m-1" (click)="subtract()">
        <span class="fa fa-minus"></span>Subtract
       </button>
       <button type="button" class="btn btn-info m-1" (click)="multiply()">
        <span class="fa fa-star"></span>Multiply
       </button>
       <button type="button" class="btn btn-info m-1" (click)="division()">
        <span class="fa fa-diamond"></span>Division
       </button>
       <app-cal-component></app-cal-component>
     </div>
   
   </div>
</div>