<div class="optionBar">   
        <button type="button" class="btn btn-primary float-right m-1" name="Create">Create Workspace</button>
        <button type="button" class="btn btn-primary float-right m-1" name="Push">Push Notification</button>
        <span class="notification-container">Studio will be down From 11:00 am to 12:30 pm</span>
      </div>
    <div>
    <div class="card">
      <div class="card-header">Header</div>
      <div class="card-body">Content</div> 
      <div class="card-footer">Footer</div>
      </div>
      <div class="card">
        <div class="card-header">Header</div>
        <div class="card-body">Content</div> 
        <div class="card-footer">Footer</div>
        </div>
    </div>